*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header{
    grid-column: 1/12;
    text-align: center;
    padding:20px;
    background-color: rgb(67, 71, 75);
}

.header-title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    grid-column: 1/13;
    background-color: rgb(190, 87, 250);
}

.nav{
    text-align: center;
    padding:20px;
    grid-column: 1/13;
    background-color: rgb(158, 114, 114);
    color: #fff;
}

.nav a{
    color: #fff;
}

.figure{
    text-align: center;
    padding:20px;
    grid-column: 1/6;
}

.img{
    width: 100%;
}

.footer{
    text-align: center;
    padding:20px;
    grid-column: 1/13;
    background-color: rgb(110, 153, 245);
}
.content{
    background-color: rgb(139, 139, 139);
    padding-left: 100px;
    text-align: border;
    padding-top: 20px;
    grid-column: 6/13;
}