* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .row::after
  {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"]
  {
    float: left;
    padding: 15px;
  }
  .col-m-6
  {
      width: 50%;
  }
  
  .header
  {
    background-color: #c5740b;
    color: #ffffff;
    padding: 30px;
  }
  input:hover
  {
      color: red;
  }
  a
  {
      text-decoration: none;
  }
  /* a:hover {
      color: red;
  } */
  nav
  {
      background-color: #a75344;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 20px;
  }
  .menu
  {
      padding: 0px;
      font-size: 15px;
      float: right;
  }
  .menu ul
  {
      list-style-type: none;
  }
  .menu ul li
  {
      text-align: center;
      background-color: rgb(167 83 68);
      padding: 10px;
      color: #ffffff;
  }
  .menu ul li:hover
  {
      position: relative;
      background-color: rgba(12, 97, 123, 0.65);
  }
  /* menu dưới */
  .menu ul li ul
  {
      visibility: hidden; /* ẩn */
      position: absolute;
  }
  .menu ul li:hover ul
  {
      visibility: visible; /* hiện */
      width: 100%;
      top: 37px;
      left: 0px;
  }
  .menu ul li:hover ul li
  {
      text-align: center;
      padding: 15px 25px;
      background-color: #c2a421;
      color: #ffffff;
  }
  .menu ul li:hover ul li:hover
  {
      background-color: #edf123;
  }
  #timkiem
  {
      padding: 3px;
  }
  #tim
  {
      padding: 3px 10px;
  }
  .book .title
  {
      margin-left: 5%;
      margin-top: 5px;
      padding: 7px;
      font-size: 20px;
      width: 100%;
      text-align: center;
  }
  .footer
  {
      background-color: #9e2fdf;
      width:100%;
      color: #ffffff;
      text-align: center;
      font-size: 15px;
      padding: 5px;
      clear:both;
  }
  @media  screen and (max-width: 1024px)
  {
      .details
      {
          padding: 0px;
          height: 380px;
      }
      .book
      {
          border: 1px solid black;
          width: 95%;
          height: 97%;
      }
      .book img
      {
          margin-left: 7%;
          width: 86%;
          height: 83%;
      }
  }
  @media  screen and (min-width:768px)
  {
     
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      
      #search
      {
          display: block;
          width: 100%;
          color: slateblue;
      }
      .details
      {
          padding: 0px;
          height: 315px;
      }
      .book
      {
          border: 1px solid black;
          width: 93%;
          height: 95%;
      }
      .book img
      {
          margin-left: 7%;
          width: 86%;
          height: 80%;
      }
      .footer
      {
          width: 100%;
          height: 60px;
          text-align: center;
          margin-top: 60px;
          padding: 20px;
          background-color:#9e2fdf ;
          color: #ffffff;
          clear:both;
      }
      .menu-item{
        width:100%;
        display: block;
    }
     
      
  }

  @media  screen and (max-width:767px){
      .menu-item{
          width:100%;
          display: block;
      }
  }