*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

head,nav,figure,footer{
    text-align: center;
    padding:20px;
}
section{
    padding-left: 100px;
    text-align: border;
    padding-top: 20px;
}